<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ductus.FluentDocker" version="2.10.3" targetFramework="net461" />
  <package id="Ductus.FluentDocker.MsTest" version="2.10.3" targetFramework="net461" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.CodeCoverage" version="16.9.4" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="16.9.4" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.0.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.2.3" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>